:root{
    --slider-nb-item: 3;
    --slider-item-width: calc( (100vw - 200px - var(--slider-nb-item)*20px - 20px) / var(--slider-nb-item) );
}

.best_products {
    position: relative;
    overflow: hidden;
    margin: 20px auto;

    & button{
        height: auto;
        width: 100px;
        padding: 6px 16px;
        background-color: rgb(248, 248, 248);
        z-index: 10;
        position: absolute;
        height: 100%;

        & svg{
            width: 20px;
            height: 20px;
        }
    }

    & a{
        flex: 1;
    }
}

.slider{
    margin-left: 100px;
    display: flex;
    transition: transform 0.5s ease;
    position: relative;
    left: calc(var(--slider-item-width) * -1 - 20px);

    & a{
        width: var(--slider-item-width);
        margin-bottom: 0;
        margin-top: 0;
        flex: none;
        position: relative;

        & p{
            height: 110px;
        }
    }
}

@media screen and (max-width: 1000px){
    :root{
        --slider-nb-item: 2;
    }
}

@media screen and (max-width: 600px){
    :root{
        --slider-nb-item: 1;
    }
}