:root {
  --header-bg: rgb(255, 255, 255,0);
  --header-text-color: rgb(255, 255, 255);
  --text-font: 'Gotham Medium', sans-serif;
}

@font-face {
  font-family: 'Gotham Medium';
  src: url(https://cdn-design.tesla.com/tds-fonts/3.x/woff2/GothamSSm-Medium_Web.woff2)
}

p, h1, h2, h3, a, button {
  font-family: var(--text-font)!important;
  color: #000; 
  text-decoration: none;
  background: none;
  border: none;
}

.box_2container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.header {
  background-color: var(--header-bg)!important;

  &:hover{
    --header-bg: rgb(255, 255, 255);
    --header-text-color: rgb(0, 0, 0);
  }
}

.header_button{
  color: var(--header-text-color)!important;
}

.left-menu_divider{
  color: var(--header-text-color)!important;
}